body{
  margin: 0;
  padding: 0;
  background-color: rgb(0, 139, 238);
  display: flex;
  flex-direction: column;
  align-items: center;
  color:rgb(47, 18, 0);
}
.background{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(/images/background/dots2.jpeg);
  opacity: 0.7;
  background-repeat: repeat;
  z-index: -10;
  opacity: 0.7;
}
.logo{
  width: 55px;
  z-index: 20;
  position: fixed;
  left: 20px;
  top: 26px;
}
.h1{
  font-family: 'Rampart One', sans-serif;
  font-size: 70px;
  margin: 40px;
}
.top-container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  position: relative;
  align-items: center;
}
.decor{
  position: absolute;
  left: 330px;
  top: -50px;
  height: 80px;
  transform: rotate(40deg);
}
.katy, .miku{
  height: 280px;
  object-fit: contain;
  position: absolute;
}
.katy{
  left: 160px;
}
.miku{
  right: 100px;
}
.intro{
  font-family: 'Yomogi', sans-serif;
  background-color: rgb(255, 248, 214);
  width: 650px;
  font-size: 16px;
  line-height: 30px;
  padding: 20px 30px 20px 30px;
  border: 2px dashed rgb(47, 18, 0);
  border-radius: 20px;
}

.bottom-container{
  display: flex;
}
.hashtag{
  text-wrap: nowrap;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  cursor: pointer;
}
.bottom-container .h2{
  font-family: 'Rampart One', sans-serif;
  font-size: 35px;
}
.likes-container, .dislikes-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.hashtag-container{
  font-family: 'Yomogi', sans-serif;
  font-size: 25px;
  width: 350px;
  padding: 0px 25px 0px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 2px dashed rgb(47, 18, 0);
}
.likes-container .hashtag-container{
  background-color: #F6D3C9;
}
.dislikes-container .hashtag-container{
  background-color: #DFE1A2;
  height: 158px;
}