body{
  position: relative;
  padding: 0;
  margin: 0;
  letter-spacing: 3px;
  overscroll-behavior: none;
}
html{
  scroll-behavior: smooth;
}
.logo-main{
  width: 55px;
  z-index: 20;
  position: fixed;
  left: 20px;
  top: 26px;
  cursor: pointer;
}
.left-nav{
  position: fixed;
  top: 50%;
  left: 0;
  height: 300px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
  z-index: 100;
}
.left-nav svg{
  width: 100%;
  height: 100%;
}
.left-nav button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  opacity: 0.6;
}
.left-nav button:hover{
  cursor: pointer;
  opacity: 1;
  scale: calc(1.1);
  transition: 0.05s;
}
.left-nav button:active{
  opacity: 0.6;
  transition: 0.05s;
  scale: calc(0.9)
}
.history-button{
  background-color: rgb(251, 171, 184);
  border: 2px solid #ab5799;
}
.price-button{
  background-color: rgb(255, 235, 102);
  border: 2px solid #e3ae1b;
}
.dm-button{
  background-color: rgb(138, 198, 255);
  border: 2px solid #547a9e;
}

.h1-container{
  margin: 0;
  width: 100%;
  height: 250px;
  background-color: rgb(196, 153, 239);
  background-image: url(/images/background/background22.jpg);
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
h1{
  margin: 0px;
  font-size: 50px;
  font-family: "Rampart One", sans serif;
  color: black;
}

.history-container{
  font-family: "Shippori Mincho", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  position: relative;
}
.history-container .logo{
  width: 100px;
}
.history-container .heading1{
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  margin: 20px;
  font-family: "Rampart One", sans serif;
}
.history-container .intro-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  height: 200px;
  background-color: black;
  margin-bottom: 20px;
}
.history-container .intro-container .note{
  width: 300px;
  height: 200px;
  position: absolute;
  top: 0;
}
.history-container .intro-container span{
  font-size: 16px;
  z-index: 10;
  width: 220px;
  position: absolute;
  top: 25px;
  line-height: 30px;
}
.history-container .intro-container .star-decor1{
  width: 60px;
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: 20;
  object-fit: contain;
}
.history-container .intro-container .star-decor2{
  width: 60px;
  position: absolute;
  bottom: -10px;
  right: -20px;
  z-index: 20;
  object-fit: contain;
}
.history-container .decor1{
  position: absolute; 
  width: 70px;
  z-index: -10;
  top: 50px;
  right: 50px;
}
.history-container .decor2{
  width: 200px;
  height: auto;
  position: absolute;
  z-index: -20;
  top: 50px;
  right: 400px;
}
.history-container .decor3{
  position: absolute;
  z-index: -20;
  width: 600px;
  left: 50px;
  top: 200px;
}
.history-container .decor4{
  position: absolute;
  z-index: -20;
  width: 100px;
  right: 0px;
  top: 100px;
}
.history-container .strawberry-decor{
  width: 200px;
}

.clip1{
  position: absolute;
  top: 0;
  left: 0;
}
.clip2{
  position: absolute;
  bottom: 0;
  left: 0;
}
.view .heading-container{
  display: flex;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  align-items: center;
  justify-content: center;
}

.view{
  width: 1220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.main-img,
.last-img{
  height: 480px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.4);
}
.main-img{
  margin-right: 20px;
}
.row{
  width: 1200px;
  display: flex;
  flex-direction: row;
  overflow: auto;
  margin-bottom: 0px;
  align-items: center;
  padding: 10px;
}
.row::-webkit-scrollbar{
  display: none;
}

.wedding-dress-container{
  display: flex;
  background-image: url(/images/background/WALLPAPER\ TILIBRA.jpeg);
  width: 100%;
  height: 900px;
  margin-top: 100px;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.wedding-dress-container .view .heading-container,
.wedding-dress-container .view .heading-container img{
  width: 400px;
}
.wedding-dress-container .view .heading-container span{
  z-index: 20;
  position: absolute;
  color: black;
  left: 20px;
}
.wedding-dress-container .view .decor{
  position: absolute;
  right: -70px;
  bottom: -80px;
  width: 150px;
}

.couple-watercolor-container{
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D3D7E2;
  background-image: url(/images/background/blueblack.jpeg);
  background-repeat: repeat;
}
.couple-watercolor-container .view .heading-container,
.couple-watercolor-container .view .heading-container img{
  width: 350px;
}
.couple-watercolor-container .view .heading-container span{
  z-index: 20;
  position: absolute;
  color: black;
  left: 20px;
}
.couple-watercolor-container .main-img,
.couple-watercolor-container .last-img{
  height: 400px;
}
.couple-watercolor-container .decor1{
  width: 120px;
  z-index: 20;
  position: absolute;
  left: -60px;
  top: 460px;
  transform: rotate(45deg);
}
.couple-watercolor-container .decor2{
  width: 180px;
  z-index: 20;
  position: absolute;
  right: -80px;
  top: 1250px;
}
.couple-watercolor-container .decor3{
  width: 140px;
  z-index: 20;
  position: absolute;
  left: -60px;
  top: 2100px;
  transform: rotate(-30deg);
}
.couple-watercolor-container .decor4{
  width: 130px;
  z-index: 20;
  position: absolute;
  right: -60px;
  top: 2960px;
}

.full-body-container{
  padding-top: 150px;
  padding-bottom: 150px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(120, 103, 88);
  background-image: url(/images/background/chocolate.jpeg);
  background-repeat: repeat;
  overflow: hidden;
}
.full-body-container .view .heading-container,
.full-body-container .view .heading-container img{
  width: 200px;
}
.full-body-container .view .heading-container span{
  z-index: 20;
  position: absolute;
  color: black;
  left: 50px;
}
.full-body-container .decor1{
  width: 130px;
  position: absolute;
  top: 1000px;
  left: -40px;
  z-index: 20;
}

.pfp-container{
  padding-top: 5px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #423C3F;
  overflow: hidden;
  padding-bottom: 50px;
  background-image: url(/images/background/brownfabric.jpeg);
  background-repeat: repeat;
}
.pfp-container .view .heading-container,
.pfp-container .view .heading-container img{
  width: 350px;
}
.pfp-container .view .heading-container span{
  z-index: 20;
  position: absolute;
  color: black;
  left: 50px;
}
.pfp-container .decor1{
  width: 110px;
  position: absolute;
  z-index: 20;
  right: -40px;
  top: 30px;
}
.pfp-container .decor2{
  width: 120px;
  position: absolute;
  z-index: 20;
  left: -40px;
  top: 500px;
  transform: rotate(45deg);
}

.y2k-container{
  padding-top: 150px;
  padding-bottom: 140px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/images/background/background26.jpeg);
  background-repeat: repeat;
  overflow: hidden;
}
.y2k-container .main-img,
.y2k-container .last-img{
  height: 600px;
}
.y2k-container .view .heading-container,
.y2k-container .view .heading-container img{
  width: 250px;
}
.y2k-container .view .heading-container span{
  z-index: 20;
  position: absolute;
  color: white;
  left: 50px;
}
.y2k-container .decor1{
  width: 130px;
  position: absolute;
  z-index: 20;
  left: -50px;
  top: 1240px;
  transform: rotate(0deg);
}

.xmas-container{
  padding-bottom: 100px;
  padding-top: 50px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6D252E;
  background-image: url(/images/background/gold.png);
  background-repeat: repeat;
}
.xmas-container .view .heading-container,
.xmas-container .view .heading-container img{
  width: 350px;
}
.xmas-container .view .heading-container span{
  z-index: 20;
  position: absolute;
  color: black;
  left: 30px;
}
.xmas-container .decor1{
  width: 120px;
  position: absolute;
  z-index: 20;
}

.price-container{
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(209, 239, 209);
  position: relative;
  background-image: url(/images/background/Callie\ Danielle.jpeg);
  background-repeat: repeat;
  overflow: hidden;
}
.price-container .heading{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 400px;
  background-color: #C2744A;
  background-image: url(/images/background/tag.jpeg);
  font-family: "Rampart One", sans serif;
  font-size: 40px;
  font-weight: 700;
}
.price-container .content-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
.price-container .pfpcom-img,
.price-container .halfbod-img,
.price-container .others-img{
  height: 400px;
  width: 400px;
  object-fit: cover;
}
.price-container .fullbod-img{
  height: 400px;
  width: 400px;
  object-fit: contain;
  background-color: white;
}
.price-container .row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 960px;
  padding-left: 50px;
  padding-right: 50px;
}
.price-container .art-and-info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px;
  margin-bottom: 20px;
  background-image: url(/images/background/paper.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
}
.price-container .info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Shippori Mincho", serif;
  margin-top: 6px;
  width: 400px;
}
.price-container .info-container .name{
  font-size: 22px;
  font-weight: 500;
}
.price-container .info-container .ex1{
  font-size: 18px;
  color: rgb(104, 103, 103);
}
.price-container .info-container .ex2{
  font-size: 14px;
  color: grey;
}

.contact-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  height: 600px;
  overflow: hidden;
}
.contact-container a{
  text-decoration: none;
}
.contact-container .heading{
  font-family: "Rampart One", sans serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.contact-container .fb-icon{
  width: 90px;
  margin-bottom: 50px;
  transition: 0.1s;
}
.contact-container .small-icon{
  width: 30px;
  transition: 0.1s;
}
.contact-container .small-row{
  width: 130px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.fb-icon:hover,
.small-icon:hover{
  scale: calc(1.1);
  opacity: 0.7;
}
.fb-icon:active,
.small-icon:active{
  scale: calc(0.9);
  opacity: 0.5;
}

.seperator{
  width: 900px;
  height: 1px;
  background-color: black;
}
.contact-container .decor1{
  position: absolute;
  width: 120px;
  z-index: -20;
  left: 400px;
}
.contact-container .decor2{
  position: absolute;
  width: 400px;
  z-index: -20;
  right: 0;
}
.contact-container .decor3{
  position: absolute;
  width: 200px;
  z-index: -20;
  left: 0;
  top: 400px;
  transform: rotate(180deg)
}
.contact-container .decor4{
  position: absolute;
  width: 500px;
  z-index: -20;
  right: 360px;
  bottom: 0px;
}