body{
  background-color: rgb(210, 173, 173);
  position: relative;
  display: flex;
  align-items: center;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
;}
.background-image{
  background-image: url(/images/background/plaid3.jpeg);
  position: fixed;
  left: 0;
  top: 0;
  z-index: -10;
  height: 100vh;
  width: 100vw;
  background-repeat: repeat;
  opacity: 0.8;
}
.logo img{
  width: 55px;
  object-fit: contain;
  z-index: 20;
  position: fixed;
  left: 20px;
  top: 26px;
  cursor: pointer;
}

.telephone{
  height: 400px;
  position: absolute;
  right: 50px;
  top: 0px;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading{
  font-family: 'Rampart One', sans-serif;
  font-size: 50px;
  color: rgb(0, 0, 0);
  display: flex;
  justify-items: center;
  margin-bottom: 20px;
}

.contact-info{
  background-color: rgb(250, 250, 226);
  display: flex;
  align-items: center;
  width: 400px;
  height: 50px;
  justify-content: center;
  padding: 5px;
  border-radius: 20px;
  border: 2px solid rgb(92, 7, 7);
  margin: 10px;
}
.contact-info img{
  width: 40px;
  margin-right: 20px;
  transition: 0.1s;
}
.contact-info img:hover{
  transform: scale(1.1);
  opacity: 0.8;
}
.contact-info img:active{
  transform: scale(0.6);
  opacity: 0.5;
}
.contact-info span{
  font-family: 'Hi Melody', sans-serif;
  font-size: 30px;
}