html{
  scroll-behavior: smooth;
}
body{
  background-color: rgb(19, 8, 83);
  position: relative;
  display: flex;
  align-items: center;
  overscroll-behavior: none;
  scroll-behavior: smooth;
;}
.background-image{
  background-image: url(/images/background/dots.png);
  opacity: 0.8;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -10;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.view-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 100px;
  right: 0px;
  top: 50px;
  padding-bottom: 50px;
}
h1{
  background-image: url(/images/background/brown-checker.jpg);
  border: 0px solid black;
  background-repeat: repeat;
  margin: 0;
  padding: 0;
  width: 100px;
  position: fixed;
  top: 120px;
  bottom: 120px;
  left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 0 25px 25px 0;
  box-shadow: 0px 0px 10px 5px rgb(0, 0, 0, 0.5);
}
.logo{
  width: 55px;
  z-index: 20;
  position: fixed;
  left: 20px;
  top: 26px;
}
.bow-decor{
  width: 130px;
  z-index: 20;
  position: absolute;
  left: 15px;
  top: -28px;
  transform: rotate(-35deg);
}
.brown-button-decor{
  width: 80px;
  z-index: 20;
  position: absolute;
  right: 18px;
  top: 480px;
  transform: rotate(30deg);
}
.butterfly-decor{
  width: 90px;
  z-index: 20;
  position: absolute;
  left: 10px;
  bottom: 480px;
  transform: rotate(-20deg);
}
.tape-decor{
  width: 100px;
  z-index: 20;
  position: absolute;
  right: 50px;
  bottom: -20px;
  transform: rotate(90deg);
}
h1 span{
  margin: 0;
  padding: 0;
  color: black;
  font-size: 40px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 20px;
  font-family: "Rampart one", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: visible;
}
.main-img,
.last-img{
  height: 480px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.5);
}
.main-img{
  margin-right: 20px;
}
.first-row,
.second-row,
.third-row{
  width: 1200px;
  display: flex;
  flex-direction: row;
  overflow: auto;
  margin-bottom: 0px;
  align-items: center;
  padding: 10px;
}
.first-row::-webkit-scrollbar,
.second-row::-webkit-scrollbar,
.third-row::-webkit-scrollbar{
  display: none;
}